exclude: '^docs/|/migrations/|devcontainer.json|frontend/|carefusion-ui/|disabled_tests/|landing/|.json'
default_stages: [pre-commit]

default_language_version:
  python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-json
        - id: check-toml
        - id: check-xml
        - id: check-yaml
        - id: debug-statements
        - id: check-builtin-literals
        - id: check-case-conflict
        - id: check-docstring-first
        - id: detect-private-key
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black

# ruff hook
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.3
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Formatter
      - id: ruff-format
        exclude: '/.*(migrations|disabled_tests)\/.*'
